

header {
  height: 59px;
  margin-bottom: 106px;
  }

.container {
  width: 1110px;
  margin: 0 auto;
}
.logo::first-letter {
  color:#1abc9c;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}
.logo {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: 300;
  line-height: 32px;
  display: inline-block;
  padding-top:33px;
  margin: 0px;
  color: #515151;
}
.site-navigation {
  float: right;
  text-align: right;
  padding-top: 40px;
   width: 600px;
  list-style: none;
  margin: 0px;
  padding: 0px;
  }
.site-navigation li {
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  padding-right: 15px;
  padding-top: 40px;
  font-size: 15px;
  font-weight: 900;
  }
.site-navigation li:nth-of-type(6n) {
  padding-right: 0px;
}
.site-navigation a{
  text-decoration: none;
  color: black;
}
.site-navigation a:hover,
.site-navigation a:focus {
  color: #1abc9c;
}
.product {
  width: 520px;
  padding: 0px;
  margin: 106px auto 132px auto;
}
h2 {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-size:48px;
  color: #515151;
}
.product::after {
  content:'';
  display:block;
  height:7px;
  width: 162px;
  background-color: #1abc9c;
  margin: 32px auto 0px auto;
}
main {
  font-family: 'Open Sans', sans-serif;
  font-size: 0;
}
.featureditem {
  list-style: none;
  width: 1110px;
  padding: 0px;
  margin: 0px;
  }
.featureditem li {
  float: left;
  padding: 0px;
  margin-right: 28px;
  margin-bottom: 30px;
  width: 256px;
  height: 324;
  }
.featureditem li:hover .nameitem {
  background-color:#1abc9c;
}
.featureditem li:hover .price {
  background-color:#7fd9c7;
}
.featureditem li:nth-of-type(4n) {
  margin-right: 0px;
}
.featureditem li:nth-child(n+5) {
  margin-bottom: 107px;
  }
img {
  padding: 0px;
  margin: 0px;
}
.nameitem {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 18px;
  line-height: 32px;
  display: inline-block;
  color:white;
  background-color: aqua;
  width: 194px;
  background-color: #323232;
  padding: 4px;
  padding-left: 14px;
  padding-right: 0px;
  margin: 0px;
}
.price {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 18px;
  line-height: 32px;
  display: inline-block;
  color:white;
  background-color:#8c8c8c;
  padding: 4px;
  padding-right: 8px;
  padding-left: 8px;
  margin: 0px;
}
.latestnews {
  margin-bottom: 120px;
  padding: 0px;
}
.latestnews::after {
  content:'';
  display:block;
  height:7px;
  width: 162px;
  background-color: #1abc9c;
  margin: 32px auto 0px auto;
}

.news {
  font-family: 'Open Sans', sans-serif;
  display:inline-block;
  height: 496px;
  width: 352px;
  color: #515151;
  margin-right: 27px;
}
.news:nth-of-type(3n) {
  margin-right: 0px;
}
.imgblog {
  width: 350px;
  height: 263px;
}
h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 600;
  margin-top: 14px;
  margin-bottom: 40px;
}
.newsp {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 26px;
  margin-bottom: 14px;
}
button {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: 300;
  border:none;
  padding:0px;
  margin:0px;
  margin-bottom: 81px;
  height: 52px;
  width: 162px;
  background-color: #4ec6ab;
  color:white;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
}

