.clearfix::after{
  display: table;
  content:"";
  clear:both;
}


header {
  
  padding-top: 37px;
  padding-bottom: 104px;
  }

.container {
  width: 1110px;
  margin: 0 auto;
}
.logo::first-letter {
  color:#1abc9c;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}
.logo {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: 300;
  line-height: 32px;
  display: inline-block;
  margin: 0px;
  color: #515151;
}
.site-navigation {
  float: right;
  text-align: right;
  width: 600px;
  list-style: none;
  margin: 0px;
  padding: 0px;
  padding-top: 8px;
  font-size: 0px;
  }
.site-navigation li {
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  padding-right: 15px;
  font-size: 15px;
  font-weight: 900;
  }
.site-navigation li:nth-of-type(6n) {
  padding-right: 0px;
}
.site-navigation a{
  display: block;
  text-decoration: none;
  color: black;
}
.site-navigation a:hover,
.site-navigation a:focus {
  color: #1abc9c;
}
.product {
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
  margin-bottom: 92px;
}
h2 {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-size:48px;
  line-height: 32px;
  color: #515151;
}
.product::after {
  content:'';
  display:block;
  height:7px;
  width: 162px;
  background-color: #1abc9c;
  margin: 34px auto 0px auto;
}
main {
  font-family: 'Open Sans', sans-serif;
  font-size: 0;
}
.featureditem {
  list-style: none;
  width: 1110px;
  padding: 0px;
  margin: 0px;
  }
.featureditem li {
  float: left;
  padding: 0px;
  margin-right: 28px;
  margin-bottom: 30px;
  width: 256px;
  height: 324;
  }
.featureditem li:hover .nameitem {
  background-color:#1abc9c;
}
.featureditem li:hover .price {
  background-color:#7fd9c7;
}
.featureditem li:nth-of-type(4n) {
  margin-right: 0px;
}
.featureditem li:nth-child(n+5) {
  margin-bottom: 107px;
  }

.nameitem {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 18px;
  line-height: 32px;
  display: inline-block;
  color:white;
  background-color: aqua;
  width: 194px;
  background-color: #323232;
  padding: 4px;
  padding-left: 14px;
  padding-right: 0px;
  margin: 0px;
}
.price {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 18px;
  line-height: 32px;
  display: inline-block;
  color:white;
  background-color:#8c8c8c;
  padding: 4px;
  padding-right: 8px;
  padding-left: 8px;
  margin: 0px;
}
.latestnews1 {
  margin: 0px auto 0px auto;
  padding: 0px;
  padding-bottom: 81px;
}
.latestnews {
  font-size: 48px;
  line-height: 32px;
  margin: 0px;
  padding: 0px;
  margin-bottom: 81px;
  
}
.latestnews::after {
  content:'';
  display:block;
  height:7px;
  width: 162px;
  background-color: #1abc9c;
  margin: 34px auto 0px auto;
}

.news {
  font-family: 'Open Sans', sans-serif;
  display:inline-block;
  height: 496px;
  width: 352px;
  color: #515151;
  margin-right: 27px;
}
.news:nth-of-type(3n) {
  margin-right: 0px;
}
.imgblog {
  width: 350px;
  height: 263px;
  margin-bottom: 14px;
}
.newstwo {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 600;
  }
.newsp {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 26px;
  margin: 0px;
  margin-bottom: 14px;
}
.readmore {
  box-sizing: border-box;
  height: 52px;
  width: 162px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  display: inline-block;
  text-decoration: none;
  font-size: 16px;
  line-height: 26px;
  font-weight: 300;
  padding:0px;
  margin:0px;
  padding-top: 13px;
  background-color: #4ec6ab;
  color:white;
  font-size: 16px;
  line-height: 24px;
  }
  .readmore:hover {
    background-color:#000000;}

