.page-header {
  text-align: center;
  font-family: "Playfair Display", serif;
  font-size: 14px;
  line-height: 24px;
  
}

ul.site-navigation li {
  display: inline-block;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  margin:55px;
}

main {
  width: 901px;
  
    padding-right: -85px;
  margin:auto;
}


.page-header {
  text-align: center;
  font-family: "Playfair Display", serif;
  font-size: 14px;
  line-height: 24px;
}

ul.site-navigation li {
  display: inline;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  
}
.site-navigation {
  display: inline-block;
  list-style: none;
  font-size: 16px;
  line-height: 24px;
  padding-top:72px;
  padding-bottom: 100px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top:-16px;
  margin-bottom: 0px;
}
.site-navigation a {
  color: #626262;
  text-decoration: none;
}
.site-navigation a:hover,
.site-navigation a:focus{
  color:#03a9f4;
}
section {
  width: 421px;
  display: inline-block;
  padding-bottom: 116px;
  
  
  }
  section:nth-of-type(2n) {

    padding-left: 55px;
  }
  .ab {
    padding:100px;
    
  }
h2 {
  font-size: 30px;
  font-family: "Playfair Display", serif;
  color: #626262;
  font-weight: 400;
  padding-left: 0px;
  text-align: left;
  margin-top:0px;
  margin-bottom: 36px;
}
p {
  color: #626262;
  font-family: "Playfair Display", serif;
  font-size: 14px;
  text-align: left;
  line-height: 24px;
}
.T {
  color: #626262;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-size: 14px;
  margin-top: 30px;
  margin-bottom: 28px;
}


.but {
  text-align: center;
  width: 100%;
  margin-top: -58px;
}
section.5 { 
  padding-bottom: 28px;
}
button {
  display: inline-block;
  font-family: "Playfair Display", serif;
  font-size: 20px;
  line-height: 24px;
  border:1px solid black;
  width: 164px;
  height: 60px;
  margin-top: 0px;
  margin-bottom: 71px;
}
